*{
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
}
#welcome-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
    padding: 20px;
}
#navbar ul{
    float: right;
    display: flex;
    list-style-type: none;
    
}
#navbar ul li{
    padding: 10px;
}
#navbar a{
    color: white;
    text-decoration: none;
}